<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="powershell" />
  <package id="chocolatey" />
  <package id="cmder.portable" />
  <package id="googlechrome" />
  <package id="firefox" />
  <package id="keepass" />
  <package id="dropbox" />
  <package id="putty.install" />
  <package id="hg" />
  <package id="git.install" />
  <package id="ag" />
  <package id="vim" />
  <package id="7zip.install" />
</packages>
