vim/bundle/vundle           git https://github.com/gmarik/Vundle.vim.git
hgext/machina               hg  https://bitbucket.org/Painted-Fox/mercurial-machina
hgext/rsync                 hg  https://bitbucket.org/Painted-Fox/hg-rsync
hgext/rupdate               hg  https://bitbucket.org/Painted-Fox/rupdate
dircolors-solarized         git https://github.com/seebi/dircolors-solarized
